.menu_bar{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    height: 65px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.left_side{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 20px;
    height : 50px;
}
.right_side{
    display: flex;
    width: 450px;
    justify-content: end;
    margin-right: 10px;
    align-items: center;
}
.right_side ul{
    display: flex;
}
.right_side ul li{
    display: flex;
    padding: 10px;
}
.right_side ul li a{
    text-decoration: none;
}
.menu_bar .right_side #login {
    background-color: #FF9B51;
    color: #25343F;
    width: 60px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
}

.main .upper {
    display: flex;
    flex-direction: column;
    width : 700px;
    align-items: center;
    margin-left: 400px;
    margin-top: 50px;
}

.main .upper h1 {
    margin-bottom: 1px;
}

.main .upper p {
    text-align: center;
    font-weight: 600;
    margin-top: 1px;
}

.main .middle {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.main .middle .card1 #heading, .main .middle .card1 #info, .main .middle .card2 #heading, .main .middle .card2 #info {
    display: flex;
}

.main .middle .card1 {
    background-color: #BFC9D1;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 600px;
    height: 200px; 
    border-radius: 50px;
}

.main .middle .card2 {
    background-color: #BFC9D1;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 600px;
    height: 200px;
    border-radius: 50px;
}

.main .middle .card1 #heading, .main .middle .card2 #heading {
    width: 500px;
    padding: 10px;
    margin-bottom: 1px;;
}

.main .middle .card1 #info, .main .middle .card2 #info {
    width: 400px;
    padding: 10px;
    margin-top: 1px;
}

.main .middle .card1 #link, .main .middle .card2 #link {
    margin-left: 490px;
}

/* p {
    color: #FF9B51;
} */

h1, h2 {
    color: #25343F;
}

.card1_image img, .card2_image img {
    width: 600px;
    height: 210px;
    border-radius: 50px;
}

.card1_full, .card2_full {
    display: flex;
    flex-direction: row;
}

.card1_full .card1_image {
    margin-right: 10px;
    margin-top: 30px;
    margin-left: 150px;
}

.card2_full .card2_image {
    margin-left: 10px;
    margin-top: 30px;
    margin-right: 150px;
}

.footer{
    /* display: flex; */
    justify-content: space-evenly;
}
.footer1{
    display: flex;
    margin-left: 150px;
    margin-bottom: 100px;
}
.footer1 .other, .footer1 .contact, .footer1 .discover, .footer1 .useful_links, .footer1 .support{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 100px;
    color: #25343F;
}
.footer1 .other a, .footer1 .contact a, .footer1 .discover a, .footer1 .useful_links a, .footer1 .support a{
    text-decoration: none;
}
.footer2{
    margin-top: 100px;
    background-color:#BFC9D1;
    display: flex;
}
.footer2 .left_side, .footer2 .right_side{
    display: flex;
}
.footer2 .left_side a, .footer2 .right_side a{
    text-decoration: none;
}
.footer2 .left_side{
    margin-left: 150px;
    width: 300px;
    color: #25343F;
    font-weight: bold;
}
.footer2 .right_side{
    margin-left: 350px;
}
.footer2 .left_side a{
    margin-left: 10px;
}