.menu_bar{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    height: 65px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.left_side{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 20px;
    height : 50px;
}
.right_side{
    display: flex;
    width: 450px;
    justify-content: end;
    margin-right: 10px;
    align-items: center;
}
.right_side ul{
    display: flex;
}
.right_side ul li{
    display: flex;
    padding: 10px;
}
.right_side ul li a{
    text-decoration: none;
}

.main .upper {
    display: flex;
    flex-direction: column;
    width : 700px;
    align-items: center;
    margin-left: 400px;
    margin-top: 50px;
}

.main .upper h1 {
    margin-bottom: 1px;
}

.main .upper p {
    text-align: center;
    font-weight: 600;
    margin-top: 1px;
}

.main .middle {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.main .middle .card1 #heading, .main .middle .card1 #info, .main .middle .card2 #heading, .main .middle .card2 #info {
    display: flex;
}

.main .middle .card1 {
    background-color: #BFC9D1;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 600px;
    height: 200px; 
    border-radius: 50px;
}

.main .middle .card2 {
    background-color: #BFC9D1;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 600px;
    height: 200px;
    border-radius: 50px;
}

.main .middle .card1 #heading, .main .middle .card2 #heading {
    width: 500px;
    padding: 10px;
    margin-bottom: 1px;;
}

.main .middle .card1 #info, .main .middle .card2 #info {
    width: 400px;
    padding: 10px;
    margin-top: 1px;
}

.main .middle .card1 #link, .main .middle .card2 #link {
    margin-left: 490px;
}

p {
    color: #FF9B51;
}

h1, h2 {
    color: #25343F;
}

.card1_image img, .card2_image img {
    width: 600px;
    height: 210px;
    border-radius: 50px;
}

.card1_full, .card2_full {
    display: flex;
    flex-direction: row;
}

.card1_full .card1_image {
    margin-right: 10px;
    margin-top: 30px;
    margin-left: 150px;
}

.card2_full .card2_image {
    margin-left: 10px;
    margin-top: 30px;
    margin-right: 150px;
}

