.menu_bar{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    height: 65px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.left_side{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 20px;
    height : 50px;
}
.right_side{
    display: flex;
    width: 450px;
    justify-content: end;
    margin-right: 10px;
    align-items: center;
}
.right_side ul{
    display: flex;
}
.right_side ul li{
    display: flex;
    padding: 10px;
}
.right_side ul li a{
    text-decoration: none;
}