body {
    background-color: #FBF3E7;
    font-family: 'Franklin Gothic Medium';
}


/* nav bar */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #F3E4CC;
    border-radius: 100px;
    margin-top: 2%;
}

.menu .leftSection {
    width: 20%;
    text-align: center;
    color: #3B2A1E;
    font-size: 20px;
}

.menu .rightSection {
    display: flex;
    width: 20%;
}

.menu .rightSection ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu .rightSection ul li {
    display: flex;
    margin-left: 20px;
}

.menu .rightSection ul li a {
    text-decoration: none;
    color: #3B2A1E;
}

